@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@input-padding: 14px;
@input-width: 300px;

.less-test {
  color: @nice-blue;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  padding: @input-padding;
  width: @input-width;
}

select {
  padding: @input-padding;
  width: @input-width;
}

.button-remove {
  border: 0;
  margin-left: 14px;
}

.last-price {
  color: @nice-blue;
}

.stock-ticker {}